<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="modal-create-product">

    <div id="modalCreateProduct" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        Create product</h2>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide">

                    </div>
                    <form id="frmCreateProduct" method="post">
                        <fieldset class="row g-12">
                            <div class="col-6">
                                <label class="form-label">Product Name:</label>
                                <input type="text" class="form-control"  id="title" name="title">
                            </div>
                            <div class="col-6">
                                <label class="form-label">Quantity:</label>
                                <input type="number" class="form-control"  id="quantity" name="quantity">
                            </div>
                            <div class="col-6">
                                <label class="form-label">Price:</label>
                                <input type="number" class="form-control"  id="price" name="price">
                            </div>
                            <div class="col-6">
                                <label class="form-label">Images:</label>
                                <input type="text" class="form-control"  id="image" name="image">
                            </div>
                            <div class="col-12">
                                <label class="form-label">Category:</label>
                                <select class="form-control" id="categoryCre" >
                                    <option value="1">Quần áo</option>
                                    <option value="2">Giày Dép</option>
                                    <option value="3">Phụ Kiện</option>
                                </select>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="btnCreate" class="btn btn-outline-primary btnCreate">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Create Product
                    </button>
                </div>
            </div>
        </div>
    </div>


</th:block>