<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="footer">

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="img wow fadeInUp animated">
                        <a href="" title="Zune.zx - Unisex"><img  src="https://zunezx.com/upload/image/data/website/logozunezx-b1c.png" title="Zune.zx - Unisex" alt="Zune.zx - Unisex" class="img-responsive"/></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <h3 class="wow fadeInUp animated">Hệ thống cửa hàng</h3>
                    <ul class="list-unstyled info wow fadeInUp animated">
                        <li>
                            <i class="fa fa-map-marker"></i> Hà Nội: 131 Đông Các, Đống Đa
                            <br /><i class="fa fa-map-marker"></i> Hà Nội: Tầng M, Toà nhà B4 Kim Liên, Phạm Ngọc Thạch, Đống Đa
                            <br /><i class="fa fa-map-marker"></i> Đà Nẵng: 65 Nguyễn Văn Linh, Hải Châu 1
                            <br /><i class="fa fa-map-marker"></i> HCM: 411 Võ Văn Tần, P5, Q3
                            <br /><i class="fa fa-map-marker"></i> HCM: The New PlayGround Expand, Center Market Lê Lai, Q.1
                        </li>
                        <li><a href="tel:0901091122" title="0901091122"><i class="fa fa-phone"></i> 0901091122</a></li>
                        <li><a href="mailto:webzune0903@gmail.com" title="webzune0903@gmail.com"><i class="fa fa-envelope"></i> webzune0903@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <h3 class="wow fadeInUp animated">Theo dõi chúng tôi</h3>
                    <ul class="list-unstyled social wow fadeInUp animated">
                        <li><a href="https://www.facebook.com/Somitrang09" title="Facebook" target="_blank" class="fb"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCklZKNakn7dv4Q8uc4SwpQw?view_as=subscriber" title="Youtube" target="_blank" class="yt"><i class="fa fa-youtube-play"></i></a></li>
                        <li><a href="https://www.instagram.com/zune.zx/" title="Instagram" target="_blank" class="ist">
                            <img src="https://zunezx.com/public/home/img/icon-isg.png" alt="Instagram">
                        </a></li>
                        <li><a href="https://shopee.vn/zunezx" title="Shopee" target="_blank" class="shopee"><img
                                src="https://zunezx.com/public/home/img/icon-shopee.png" alt="shopee"></a></li>
                        <li><a href="https://vt.tiktok.com/LpbKW4/" title="Tiktok" target="_blank" class="tiktok"><img
                                src="https://zunezx.com/public/home/img/icon-tiktok.png" alt="tiktok"></a></li>
                    </ul>

                </div>
            </div>
            <div class="copyright">&copy; Copyright 2022 VSS Corporation. All right reserved</div>
        </div>
    </footer>



</th:block>